.input {
  box-sizing: border-box;
  height: 56px;
  padding: 16px;

  border: none;
  border-radius: 8px;
  background-color: #F3F5FA;

  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: -0.40px;
  color: #000000;

  &::placeholder {
    color: var(--primaryGrey);
    font-weight: 300;
  }
}