.root {
  .rule {
    opacity: 0.4;

    transition: .2s ease-in-out;
    will-change: opacity;

    &.name {
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      text-align: center;
      color: var(--primaryGrey);
    }

    &.checked {
      opacity: 1;
      color: var(--primaryBlue);
    }
  }
}
